<!-- <div class="accordion" id="accordionExample" *ngFor="let item2 of staffinCharges;let h= index">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button bg-info text-white" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#personal' + h" aria-expanded="false" [attr.aria-controls]="'personal' + h">
                {{item2.nameOne}} {{item2.lastNameOne}} - {{item2.document}}
            </button>

        </h2>
        <div [id]="'personal'+h" class="accordion-collapse collapse" [attr.aria-labelledby]="'personal'+h"
            data-bs-parent="#accordionExample">
        </div>
    </div>
</div> -->

<div class="container mt-2">
  <div class="mb-1">      
    <div class=" shadow p-3 mb-5 bg-body rounded">
      <form  class="row text-center">
        <div class="col-sm-12 col-md-4 col-lg-4">          
          <div class="wrap">
            <button class="button">Registrar diezmo</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">          
          <div class="wrap">
            <button class="button">Registrar hermano</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">          
          <div class="wrap">
            <button class="button">Eliminar hermano</button>
          </div>
        </div>
      </form>
    </div>          
          
  </div>
</div>

<div class="container mt-2">
    <div class="accordion" >
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #E3B04B; color: white;">
              Name brother
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table align-middle mb-0 bg-white mt-2">
                    <thead class="text-white" style="background-color: #E3B04B;">
                      <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Position</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">John Doe</p>
                              <p class="text-muted mb-0">john.doe@gmail.com</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Software engineer</p>
                          <p class="text-muted mb-0">IT department</p>
                        </td>
                        <td>
                          <span class="badge badge-success rounded-pill d-inline">Active</span>
                        </td>
                        <td>Senior</td>
                        <td>
                          <button type="button" class="btn btn-link btn-sm btn-rounded">
                            Edit
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                                class="rounded-circle"
                                alt=""
                                style="width: 45px; height: 45px"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Alex Ray</p>
                              <p class="text-muted mb-0">alex.ray@gmail.com</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Consultant</p>
                          <p class="text-muted mb-0">Finance</p>
                        </td>
                        <td>
                          <span class="badge badge-primary rounded-pill d-inline"
                                >Onboarding</span
                            >
                        </td>
                        <td>Junior</td>
                        <td>
                          <button
                                  type="button"
                                  class="btn btn-link btn-rounded btn-sm fw-bold"
                                  data-mdb-ripple-color="dark"
                                  >
                            Edit
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                                class="rounded-circle"
                                alt=""
                                style="width: 45px; height: 45px"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Kate Hunington</p>
                              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Designer</p>
                          <p class="text-muted mb-0">UI/UX</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                        </td>
                        <td>Senior</td>
                        <td>
                          <button
                                  type="button"
                                  class="btn btn-link btn-rounded btn-sm fw-bold"
                                  data-mdb-ripple-color="dark"
                                  >
                            Edit
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        
    </div>
</div>
