<!-- <div class="accordion" id="accordionExample" *ngFor="let item2 of staffinCharges;let h= index">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button bg-info text-white" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#personal' + h" aria-expanded="false" [attr.aria-controls]="'personal' + h">
                {{item2.nameOne}} {{item2.lastNameOne}} - {{item2.document}}
            </button>

        </h2>
        <div [id]="'personal'+h" class="accordion-collapse collapse" [attr.aria-labelledby]="'personal'+h"
            data-bs-parent="#accordionExample">
        </div>
    </div>
</div> -->

<div class="row mt-3">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-2">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Configuración Hermanos</h2>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button style="background-color: #e3b04b; color: white" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                REGISTRO DIEZMO
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form [formGroup]="formNewTithe" class="row">                  

                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 text-center">
                    <label >Nombre</label>
                      <ng-autocomplete 
                        [data]="dataBrother"
                        [searchKeyword]="keyword"
                        placeholder="Seleccione un hermano"
                        (selected)='selectBrother($event)'
                        
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">      
                                               
                      </ng-autocomplete>
                      
                      <ng-template #itemTemplate let-dataBrother>
                      <a [innerHTML]="dataBrother.fullName"></a>
                      </ng-template>
                      
                      <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                      </ng-template>
                  </div>
                

                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 text-center">
                    <label >Cantidad</label>
                    <input class="form-control " formControlName="quantity" type="number">

                  </div>                                   

                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-2">
                    <button class="btn" style="background-color: #e3b04b; color: white" (click)="setTithe()">Guardar</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button style="background-color: #e3b04b; color: white" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                REGISTRO HERMANO
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form [formGroup]="formNewBrother" class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 text-center">
                    <label >Cédular</label>
                    <input formControlName="identification" class="form-control " type="number">
                  </div>

                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 text-center">
                    <label >Nombre</label>
                    <input formControlName="name" class=" form-control " type="text" >
                  </div>

                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 text-center">
                    <label >Apellido</label>
                    <input formControlName="lastName" class=" form-control " type="text" >
                  </div>                  

                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-2">
                    <button class="btn" style="background-color: #e3b04b; color: white" (click)="setBrother()">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button style="background-color: #e3b04b; color: white" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ELIMINAR HERMANO
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="col-12 text-center">
                  <label >Nombre</label>
                    <ng-autocomplete 
                      [data]="dataBrother"
                      [searchKeyword]="keyword"
                      placeholder="Seleccione un hermano"
                      (selected)='selectBrotherDelete($event)'
                      
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">      
                                             
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-dataBrother>
                    <a [innerHTML]="dataBrother.fullName"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-2">
                  <button class="btn" style="background-color: #e3b04b; color: white" (click)="dropBrother()">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-2">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Diezmos</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample" >
          <div class="accordion-item" *ngFor="let brother of dataTithe  let i = index">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed "
                style="background-color: #e3b04b; color: white"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#brother' + i" 
                aria-expanded="false" 
                [attr.aria-controls]="'brother' + i"                
              >
              {{brother.fullName}}({{brother.identification}})
              </button>
            </h2>
            <div  [id]="'brother'+i" class="accordion-collapse collapse"  [attr.aria-labelledby]="'brother'+ i" data-bs-parent="#accordionExample" >
              <div class="accordion-body">
                <div class="alert alert-warning" role="alert" *ngIf="brother.getTitheLin.length == 0">
                 No se han realizado registros
                </div>
                <div class="table-responsive" *ngIf="brother.getTitheLin.length > 0">
                  <table class="table table-striped">
                    <thead class=" text-center"   style="background-color: #e3b04b; color: white">
                      <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha</th>                        
                      </tr>
                    </thead>
                    <tbody class="text-center ">
                      <tr *ngFor="let dataBrother of brother.getTitheLin | paginate: { itemsPerPage: 6, currentPage: f, id: 'f1' }; let j= index">                       
                        <td>{{dataBrother.tithe}}</td>
                        <td>{{dataBrother.dateTithe}}</td>
                      </tr>
                    </tbody>
                    <footer>
                      <p><strong>Sum:0</strong></p>
                    </footer>
                  </table>
                  <div class="text-right">
                    <pagination-controls previousLabel="" nextLabel="" (pageChange)="f = $event" id="f1">
                    </pagination-controls>
                  </div> 
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




