body{
     background-image: url("src/assets/img/fondo.webp");
     
     /* height: 100%; 
     
     background-position: center;
     background-repeat: repeat;
     background-size: cover;  
     background-color: #eee;*/
}